body{background-color:#b24926;padding:20px;margin:0}.active{background-color:#adabab}h1,h2,li,p,ul{font-family:Helvetica,Arial,sans-serif}ul.header li{display:inline;list-style-type:none;margin:0}ul.header{background-color:#111;padding:0}ul.header li a{color:#fff;font-weight:700;text-decoration:none;padding:20px;display:inline-block}.content{background-color:#fff;padding:20px}.content h2{padding:0;margin:0}.content li{margin-bottom:10px}input[type=text]{width:80%;padding:8px 15px;margin:8px 0;box-sizing:content-box}
/*# sourceMappingURL=main.41a99152.css.map*/